* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark-cl);
  scroll-behavior: smooth;
}

:root {
  --light-cl: #fff;
  --dark-cl: #111;
  --primary-cl: #2196f3;
  --secondary-cl: #800080;
  --sm-txt: 0.8rem;
  --bg-txt: 1.5rem;
  --hd-txt: 3rem;
  --btn-pad: 10px 15px;
  --md-pad: 20px 30px;
  --lg-pad: 40px 60px;
  --transition: 0.5s ease-in-out;
}

body {
  background-color: var(--light-cl);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../fonts/Montserrat-Medium.ttf");
}

.dark_theme {
  --light-cl: #111;
  --dark-cl: #fff;
  --primary-cl: #09beec;
  --secondary-cl: #f40ef4;
}

a {
  text-decoration: none;
  color: var(--dark-cl);
  font-family: "Montserrat-Medium";
}

b,
i,
a,
p {
  font-size: var(--sm-txt);
  color: var(--dark-cl);
  font-family: "Montserrat-Medium";
}

h3 {
  font-size: var(--bg-txt);
  color: var(--dark-cl);
  font-family: "Montserrat-Bold";
}

h1 {
  font-size: var(--hd-txt);
  color: var(--dark-cl);
  font-family: "Montserrat-Bold";
}

img {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--md-pad);
  z-index: 100;
  position: fixed;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: var(--md-pad);
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: var(--md-pad);
}

/* section:nth-child(odd) {
  background-color: var(--primary-cl);
} */

.modal_wrapper {
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #111;
  position: absolute;
  opacity: 0.9;
  z-index: 10000;
}

body.modal_open {
  overflow: hidden;
}

.modal_wrapper .modal {
  position: absolute;
  top: 60%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--md-pad);
  background-color: var(--dark-cl);
  border: 2px solid #fff;
  border-radius: 10px;

  h3,
  a,
  p {
    color: var(--light-cl);
  }

  i {
    color: var(--primary-cl);
    font-size: 40px;
    font-weight: bolder;
  }

  #close_btn {
    position: absolute;
    top: 10px;
    left: 92%;
    font-size: 15px;
    color: var(--light-cl);
  }

  div {
    margin-top: 15px;
  }

  a {
    border-radius: 5px;
    padding: var(--btn-pad);
    background-color: var(--primary-cl);
    width: fit-content;
    transition: var(--transition);
  }
}

.modal a:hover {
  border: 1px solid var(--light-cl);
  background-color: var(--dark-cl);
  color: var(--light-cl);
}

.logo {
  display: flex;
  flex-direction: column;
  width: 50px;
  object-fit: cover;
}

.btn {
  width: fit-content;
  padding: var(--btn-pad);
  letter-spacing: 1px;
  background-color: var(--primary-cl);
  transition: var(--transition);
  background: linear-gradient(
    to right,
    var(--light-cl) 50%,
    var(--primary-cl) 50%
  );
  background-size: 200% 100%;
  background-position: right;
}

.btn:hover {
  border: 1px solid var(--dark-cl);
  background-position: left;
}

.btn-con {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
}

.modeToggleBtn i {
  font-size: 20px;
}

.hamburger {
  display: none;
}

.navBar {
  display: flex;
  flex-direction: row;
}

.navBar a {
  background: linear-gradient(to right, var(--primary-cl) 50%, transparent 50%);
  background-size: 300% 100%;
  background-position: right;
  padding: var(--btn-pad);
  transition: var(--transition);
}

.navBar a:hover {
  background-position: left;
  color: var(--light-cl);
}

.text_con {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}

.img_con {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: hidden;
}

.img_con img {
  width: 100%;
  animation: slide 5s infinite;
}

.text_con h1 {
  line-height: 40px;
}

.about .text_con {
  gap: 5px;
}

.about .text_con p {
  height: 150px;
  overflow: scroll;
}

.about .text_con h3 {
  line-height: 25px;
}

.customer_container::-webkit-scrollbar,
.slide::-webkit-scrollbar,
.about .text_con p::-webkit-scrollbar {
  display: none;
}

.about .text_con i {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social_links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: var(--btn-pad);
  width: fit-content;
  background-color: var(--primary-cl);
  border-radius: 10px;
}

.social_links i {
  font-size: 15px;
}

.social_links a:hover {
  i {
    color: var(--light-cl);
  }
}

.slide {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 220px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.service_card {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-cl);
  padding: var(--md-pad);
  transition: var(--transition);
  animation: autoscrollcards 40s infinite;
}

.service_card .service_card_btn {
  width: fit-content;
  padding: var(--btn-pad);
  border-right: 1px solid var(--dark-cl);
  border-bottom: 1px solid var(--dark-cl);
  transition: border var(--transition);
}

.service_card_btn:hover {
  border-left: 1px solid var(--dark-cl);
  border-top: 1px solid var(--dark-cl);
  border-right: none;
  border-bottom: none;
}

.slide:first-child {
  margin-left: 15%;
  margin-right: 15%;
}

.slide .img_con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  gap: 10px;
}

.slide .img_con img {
  font-size: 200px;
}

.portfolio {
  height: auto;
}

.portfolio .wrapper {
  gap: 20px;
  height: auto;
}

.customer_card,
.portfolio_card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid var(--dark-cl);
  padding: var(--md-pad);
  border-radius: 2px;
  transition: var(--transition);
}

.portfolio_card:nth-child(3),
.portfolio_card:nth-child(2) {
  height: 250px;
  justify-content: center;
  align-items: center;
}

.portfolio_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio_text p {
  text-align: center;
}

.portfolio_text a {
  text-decoration: underline;
}

.portfolio_img {
  display: none;
  width: 200px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.portfolio_card:hover {
  transform: translateX(0.635rem);
  .portfolio_text {
    display: none;
  }
  .portfolio_img {
    display: flex;
  }
}

.customer,
.customer .wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.customer_container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.customer_text {
  align-items: flex-start;
}

.customer_card {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  transition: box-shadow var(--transition);
}

.customer_card:hover {
  box-shadow: 0 0 20px var(--primary-cl);
}

.customer_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.customer_heading span {
  color: var(--primary-cl);
}

.customer_heading p {
  text-align: center;
}

.customer_review_stars,
.customer_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.customer_review_stars {
  margin-top: 10px;
}

.customer_review_stars i {
  font-size: 15px;
  color: yellow;
}

.customer_profile_img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  border: 1px solid var(--dark-cl);
}

.customer_profile_img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.contact,
.contact .wrapper {
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: var(--dark-cl);
}

.contact h3,
.contact p,
.contact a,
.contact i {
  color: var(--light-cl);
}

.contact_logo {
  width: 100px;
  display: flex;
}

.contact_text {
  display: flex;
  flex-direction: column;
}

.contact_text div {
  display: flex;
  flex-direction: row;
  width: 500px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contact_text a:hover {
  color: var(--primary-cl);
}

.contact_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  width: 70px;
}

.contact_links i {
  font-size: 25px;
  transition: var(--transition);
}

.contact_links i:hover,
.contact_links a:hover {
  color: var(--primary-cl);
}

.contact_text div:nth-child(2) {
  p {
    text-align: center;
  }
}

#rights {
  margin-top: 20px;
}

#rights p {
  font-weight: bolder;
  color: var(--primary-cl);
}

.img_con,
.text_con,
.slide,
.customer_heading,
.portfolio_card,
.customer_profile,
.customer_text,
.customer_card,
.img_con,
.text_con {
  animation: fadein linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

iframe{
  width: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes autoscrollcards {
  0% {
    transform: translateX(0px);
  }

  30% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-960px);
  }

  70% {
    transform: translateX(-960px);
  }

  80% {
    transform: translateX(-1920px);
  }

  99% {
    transform: translateX(-1920px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* MEDIA QUERY */
@media (max-width: 750px) {
  :root {
    --sm-txt: 0.8rem;
    --bg-txt: 1.5rem;
    --hd-txt: 2rem;
    --btn-pad: 10px 15px;
    --md-pad: 20px 30px;
    --lg-pad: 40px 60px;
    --transition: 0.3s ease-in-out;
  }

  .modal_wrapper .modal {
    top: 60%;
    width: 300px;
  }

  .front .wrapper {
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .customer_card,
  .customer_heading,
  .portfolio_card,
  .img_con,
  .text_con {
    width: 280px;
  }

  .img_con {
    display: none;
  }

  .customer_heading h1,
  .text_con h1 {
    line-height: 30px;
  }

  .active {
    top: 12%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    background-color: var(--light-cl);
  }

  .btn-con {
    flex-direction: row;
  }

  .about .img_con,
  .hamburger {
    display: flex;
  }

  .hamburger i {
    font-size: 20px;
  }

  .navBar {
    display: none;
  }

  .navBar.active {
    display: flex;
    flex-direction: column;
  }

  .navBar a {
    width: 100%;
    padding: var(--md-pad);
  }

  .front {
    background-image: url("../../images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .text_con {
    z-index: 1;
  }

  .front .text_con::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #111;
    opacity: 0.2;
    z-index: -1;
  }

  .about .text_con {
    gap: 10px;
  }

  .service_card {
    width: 320px;
    height: 300px;
  }

  .services .wrapper {
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

  .service_card .img_con {
    display: none;
  }

  .slide {
    gap: 30px;
  }

  .slide:first-child {
    margin-left: 2%;
    margin-right: 2%;
  }

  .service_card .text_con h3 {
    line-height: 20px;
  }

  .portfolio,
  .portfolio .wrapper {
    height: auto;
  }

  .customer,
  .customer .wrapper,
  .contact,
  .contact .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .contact_logo {
    width: 100px;
    display: flex;
  }

  .customer_heading p {
    text-align: left;
  }

  .customer_heading {
    gap: 10px;
  }

  .customer_container,
  .contact_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact_text div {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
    align-items: flex-start;
  }

  .contact_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: 200px;
    margin-top: 10px;
  }

  .contact_links i {
    font-size: 25px;
    transition: var(--transition);
  }

  @keyframes autoscrollcards {
    0% {
      transform: translateX(0px);
    }

    30% {
      transform: translateX(0px);
    }

    50% {
      transform: translateX(-340px);
    }

    70% {
      transform: translateX(-340px);
    }

    80% {
      transform: translateX(-680px);
    }

    99% {
      transform: translateX(-680px);
    }

    100% {
      transform: translateX(0px);
    }
  }
}
