* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark-cl);
  scroll-behavior: smooth;
}

:root {
  --light-cl: #fff;
  --dark-cl: #111;
  --primary-cl: #2196f3;
  --secondary-cl: #800080;
  --sm-txt: 0.8rem;
  --bg-txt: 1.5rem;
  --hd-txt: 3rem;
  --btn-pad: 10px 15px;
  --md-pad: 20px 30px;
  --lg-pad: 40px 60px;
  --transition: 0.5s ease-in-out;
}

body {
  background-color: var(--light-cl);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../fonts/Montserrat-Medium.ttf");
}

.dark_theme {
  --light-cl: #111;
  --dark-cl: #fff;
  --primary-cl: #09beec;
  --secondary-cl: #f40ef4;
}

a {
  text-decoration: none;
  color: var(--dark-cl);
  font-family: "Montserrat-Medium";
}

i,
a,
p {
  font-size: var(--sm-txt);
  color: var(--dark-cl);
  font-family: "Montserrat-Medium";
}

h3 {
  font-size: var(--bg-txt);
  color: var(--dark-cl);
  font-family: "Montserrat-Bold";
}

h1 {
  font-size: var(--hd-txt);
  color: var(--dark-cl);
  font-family: "Montserrat-Bold";
}

img {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--md-pad);
  z-index: 100;
  position: fixed;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: var(--md-pad);
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: var(--md-pad);
}

.logo {
  display: flex;
  flex-direction: column;
  width: 50px;
  object-fit: cover;
}

.btn {
  width: fit-content;
  padding: var(--btn-pad);
  letter-spacing: 1px;
  background-color: var(--primary-cl);
  transition: var(--transition);
}

.btn:hover {
  border: 1px solid var(--dark-cl);
  color: var(--dark-cl);
  background-color: var(--light-cl);
}

.btn-con {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
}

.modeToggleBtn i {
  font-size: 20px;
}

.hamburger {
  display: none;
}

.navBar {
  display: flex;
  flex-direction: row;
}

.navBar a {
  padding: var(--btn-pad);
  transition: var(--transition);
}

.navBar a:hover {
  background-color: var(--primary-cl);
  color: var(--light-cl);
}

.text_con {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}

.text_con h1 {
  line-height: 40px;
}

.img_con {
  display: flex;
  flex-direction: column;
  width: 300px;
  object-fit: cover;
}

.about .text_con{
  gap: 5px;
}

.about .text_con p {
  height: 150px;
  overflow: scroll;
}

.about .text_con h3{
  line-height: 25px;
}

.about .text_con p::-webkit-scrollbar {
  display: none;
}

.about .text_con i {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social_links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: var(--btn-pad);
  width: fit-content;
  background-color: var(--primary-cl);
  border-radius: 10px;
}

.social_links i {
  font-size: 15px;
}

.social_links a:hover {
  i {
    color: var(--light-cl);
  }
}

/* MEDIA QUERY */
@media (max-width: 750px) {
  :root {
    --sm-txt: 0.8rem;
    --bg-txt: 1.5rem;
    --hd-txt: 2rem;
    --btn-pad: 10px 15px;
    --md-pad: 20px 30px;
    --lg-pad: 40px 60px;
    --transition: 0.3s ease-in-out;
  }

  .front .wrapper{
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .img_con,
  .text_con {
    width: 280px;
  }

  .img_con {
    display: none;
  }

  .text_con h1 {
    line-height: 30px;
  }

  .active {
    top: 12%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    background-color: var(--light-cl);
  }

  .btn-con {
    flex-direction: row;
  }

  .about .img_con,
  .hamburger {
    display: flex;
  }

  .hamburger i {
    font-size: 20px;
  }

  .navBar {
    display: none;
  }

  .navBar.active {
    display: flex;
    flex-direction: column;
  }

  .navBar a {
    width: 100%;
    padding: var(--md-pad);
  }

  .front {
    background-image: url("../../images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .text_con {
    z-index: 1;
  }

  .text_con::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #111;
    opacity: 0.2;
    z-index: -1;
  }

  .about .text_con{
    gap: 10px;
  }
}
